<div class="card animated fadeIn fast" style="width: 260px;">
  <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
  <div class="card-body">
    <h4 class="card-title">{{ heroe.nombre }}</h4>
    <p class="card-text"> {{ heroe.bio }} </p>
    <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

    <button (click)="verHeroe()"
      type="button" class="btn btn-outline-primary btn-block">
      Ver más...
    </button>
    <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a> -->

  </div>
</div>
