<h1>Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns"  style="display: block;">
  <app-heroe-tarjeta style="display: inline-block; padding: 1%;" (heroeSeleccionado)="verHeroe( $event )" [heroe]="foo" [index]="i"  *ngFor="let foo of heroes; let i = index"></app-heroe-tarjeta>
</div>
